#blog-home-page-container.container.full
  .row.jumbotron.article-preview.semi-transparent
    p
      | Handson unit testing in Java with JUnit

  .row.jumbotron.article-preview.semi-transparent
    p
      | Handson unit testing in Java with JUnit

  .row.jumbotron.article-preview.semi-transparent
    p
      | Handson unit testing in Java with JUnit

  .row.jumbotron.article-preview.semi-transparent
    p
      | Handson unit testing in Java with JUnit

  .row.jumbotron.article-preview.semi-transparent
    p
      | Handson unit testing in Java with JUnit

  .row.jumbotron.article-preview.semi-transparent
    p
      | Handson unit testing in Java with JUnit

  .row.jumbotron.article-preview.semi-transparent
    p
      | Handson unit testing in Java with JUnit


