html	{
	font-family: 'Varela Round', sans-serif;
}

section  {
   height:100vh; /*Each section of the size of viewport.*/
}

.full-width{
    width: 100%;
}

.transparent{
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.elevated{
	z-index: 1;
	position: fixed;
}